/*
Theme Name: LodgeXYZ
Theme URI: https://gitlab.com/cloud3dots/wp-theme-lodgexyz/
Author: Cloud3Dots
Author URI: https://cloud3dots.com
Description: LodgeXYZ clean, minimal, simple and adaptable responsive multipurpose WordPress theme customized for masonic lodges can as well be used by a NGO/NPO. Compatible with nextgen gallery, WooCommerce and Contact Form 7 it can be used as an E-Commerce as well.

Version: 0.1.12
License: GNU General Public License
License URI: license.txt
Text Domain: lodgexyz

Tags:two-columns,right-sidebar,custom-background,custom-colors,custom-menu,sticky-post,theme-options,threaded-comments

LodgeXYZ has been created by Cloud3Dots(cloud3dots.com), 2019.

LodgeXYZ is released under the terms of GNU GPL

LodgeXYZ is a fork from Naturo Lite WordPress Theme created by SKT Themes(sktthemes.net), 2015.
*/

body {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-size: 13px;
  color: #5d5c5c;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

img {
  border: none;
  margin: 0;
  padding: 0;
  height: auto
}

.wp-caption, .wp-caption-text, .sticky, .gallery-caption, .aligncenter {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #34c6f6;
}

a:hover {
  color: #ff6565;
}

ol, ul {
  margin: 0;
  padding: 0;
}

ul li ul, ul li ul li ul, ol li ol, ol li ol li ol {
  margin-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #484f5e;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
  padding: 0;
  line-height: 1.1;
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.clear {
  clear: both;
}

.alignnone {
  width: 100% !important;
}

img.alignleft, .alignleft {
  float: left;
  margin: 0 15px 0 0;
  padding: 5px;
}

img.alignright, .alignright {
  float: right;
  margin: 0 0 0 15px;
  padding: 5px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.pagination {
  display: table;
  clear: both;
}

.pagination ul {
  list-style: none;
  margin: 20px 0;
}

.pagination ul li {
  display: inline;
  float: left;
  margin-right: 5px;
}

.pagination ul li span, .pagination ul li a {
  background: #646262;
  color: #fff;
  padding: 5px 10px;
  display: inline-block;
}

.pagination ul li .current, .pagination ul li a:hover {
  background: #34c6f6;
}

#comment-nav-above .nav-previous, #comment-nav-below .nav-previous {
  float: none !important;
  margin: 10px 0;
}

ol.comment-list li {
  list-style: none;
  margin-bottom: 5px;
}

.header span.tagline {
  font-size: 13px;
}

.header .header-inner {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 1180px;
}

.header .header-inner .logo {
  float: left;
  text-align: left;
  margin: 20px 0 0 10px;
}

.header .header-inner .logo h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0px;
  line-height: 36px;
  font-size: 24px;
  color: #e75300
}

.header .header-inner .logo span {
  color: #e75300
}

.header .header-inner .logo a {
  color: #000;
}

.header .header-inner .logo img {
  height: 55px;
}

.header .header-inner .logo .c3d {
  font-size: 60px;
  color: #e75300;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

/*header menu css*/

.toggle {
  display: block;
}

.toggle a {
  width: 100%;
  color: #ffffff;
  background: url(assets/images/mobile_nav_right.png) no-repeat right center #3e3e3e;
  padding: 10px 10px;
  margin-top: 5px;
  font-size: 16px;
}

.toggle a:hover {
  color: #ffffff !important;
}

.nav {
  display: none;
}

.header {
  width: 100%;
  height: auto;
  z-index: 999999;
}

.header .header-inner .nav {
  padding: 0;
  text-align: right;
  float: right;
}

.header .header-inner .nav ul {
  float: right;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.header .header-inner .nav ul li {
  display: inline-block;
  margin: 0;
  position: relative;
  text-align: center;
}

.header .header-inner .nav ul li a {
  padding: 38px 20px;
  display: block;
  color: #909090;
}

.header .header-inner .nav ul li ul li {
  display: block;
  position: relative;
  float: none;
  top: -1px;
}

.header .header-inner .nav ul li ul li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: 1px;
  text-align: left;
}

.header .header-inner .nav ul li a:hover, .header .header-inner .nav ul li.current_page_item a {
  color: #34c6f6;
}

.header .header-inner .nav ul li ul {
  display: none;
  z-index: 9999999;
  position: relative;
}

.header .header-inner .nav ul li:hover>ul {
  display: block;
  width: 200px;
  position: absolute;
  left: 0;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 2px 2px #ccc;
}

.header .header-inner .nav ul li:hover ul li ul {
  display: none;
  position: relative;
}

.header .header-inner .nav ul li:hover ul li:hover>ul {
  display: block;
  position: absolute;
  left: 200px;
  top: 1px;
}

.header .header-inner .nav ul li a .fa, .fixed .header-inner .nav ul li a .fa {
  font-size: 35px;
  display: block;
  margin-bottom: 10px;
}

.fixed .header-inner .nav ul li a span, .header .header-inner .nav ul li a span {
  display: block;
  font-size: 11px;
  font-style: italic;
}

.header .header-inner .nav ul li:last-child a {
  padding-right: 0;
}

/* = header top sign in  css
-------------------------------------------------------------- */

.signin_wrap {
  background-color: #383939;
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  padding: 10px 0;
}

.signin_wrap .social-icons a {
  border-right: 1px solid #e8e8e8;
  margin-right: 0;
}

.signin_wrap .fa {
  margin: 0 5px 0 15px;
}

.signin_wrap .right {
  text-align: right;
  display: inline;
}

.signin_wrap a {
  color: #fff;
}

section#home_slider {
  padding: 0;
}

#FrontBlogPost, #wrapfirst, #wrapsecond {
  padding: 20px 0;
}


#wrapannouncements {
  padding: 10px 0;
}

/* = Widgets section css
-------------------------------------------------------------- */

#wrapannouncements {
  background-color: #e2df20;
  color: #ffffff;
  font-size: 14px;
}

section#wrapannouncements .center {
  text-align: center;
}

section#wrapannouncements a {
  color: #dddddd;
}


#wrapwidgets {
  padding: 10px 0;
}

/* = Widgets section css
-------------------------------------------------------------- */

#wrapwidgets {
  background-color: #e75300;
  color: #ffffff;
  font-size: 14px;
}

section#wrapwidgets .center {
  text-align: center;
}

section#wrapwidgets a {
  color: #dddddd;
}

/* = Main section css
-------------------------------------------------------------- */

#wrapfirst {
  font-size: 14px;
}

section#wrapfirst .left {
  text-align: left;
}

section#wrapfirst .center {
  text-align: center;
}

section#wrapfirst .right {
  text-align: right;
}

section#wrapfirst h1 {
  padding: 10px 0 10px 0;
}

section#wrapfirst p {
  line-height: 1.5em;
  font-size: 16px;
  margin-bottom: 1.5em;
}

#wrapfirst .ReadMore {
  margin-top: 20px;
  display: inline-block;
  border: 1px solid #5d5c5c;
  padding: 5px 10px;
}

#wrapfirst .ReadMore:hover {
  color: #e75300;
  border-color: #e75300;
}

#wrapfirst .CallToAction {
  margin-top: 20px;
  display: inline-block;
  border: 1px solid #5d5c5c;
  color: #dddddd;
  background-color: #e75300;
  padding: 5px 10px;
}

#wrapfirst .CallToAction:hover {
  color: #dddddd;
  border-color: #dddddd;
}

/* = Services section css
-------------------------------------------------------------- */

#wrapsecond {
  background-color: #f8f8f8;
}

.services-wrap, #FrontBlogPost .BlogPosts {
  visibility: visible;
  align-content: center;
}

.services-wrap .one_fourth {
  border: 1px solid #f1f1f1;
  background-color: #fff;
  text-align: center;
  padding: 30px 15px;
  width: 20%;
  margin: 0 2.75% 0 0;
  cursor: pointer;
  float: left;
}

.services-wrap .one_fourth .fa {
  font-size: 50px;
  border-bottom: 2px solid #383939;
  padding-bottom: 20px;
}

.services-wrap .one_fourth i {
  font-size: 72px;
  color: #5d5c5c;
}

.services-wrap .one_fourth img {
  border-bottom: 2px solid #383939;
  padding-bottom: 20px;
  height: auto;
  max-width: 65px;
}

.services-wrap .one_fourth h3 {
  font: 600 18px/22px 'Lato', san-serif;
  padding: 20px 0;
  margin: 0;
  text-transform: uppercase;
}

.services-wrap .one_fourth p {
  color: #5d5c5c;
  text-align: left;
  line-height: 1.5em;
  font-size: 14px;
  margin-bottom: 1.5em;
}

.services-wrap .one_fourth .content {
  height: 280px;
  overflow: hidden;
}

.services-wrap .one_fourth .ReadMore {
  margin-top: 20px;
  display: inline-block;
  border: 1px solid #5d5c5c;
  padding: 5px 10px;
}

.services-wrap .one_fourth:hover .ReadMore {
  color: #e75300;
  border-color: #e75300;
}

.services-wrap .one_fourth:hover h3 {
  color: #e75300;
}

.services-wrap .one_fourth:hover .fa {
  color: #e75300;
  border-color: #e75300;
}

.services-wrap .one_fourth:hover .fam {
  color: #e75300;
  border-color: #e75300;
}

.services-wrap .one_fourth:hover .c3d {
  color: #e75300;
  border-color: #e75300;
}

.services-wrap .one_fourth a {
  color: #5d5c5c;
}

.last_column {
  clear: right;
  margin-right: 0 !important;
}

/* = social icons css
-------------------------------------------------------------- */

.social-icons a {
  background-color: #545556;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  font-size: 16px;
  color: #fff;
  margin: 0 3px;
  padding: 0;
}

.social-icons br {
  display: none;
}

.social-icons a:hover {
  background-color: #e75300;
}

/* = Page lay out css
-------------------------------------------------------------- */

.site-main {
  width: 760px;
  margin: 0;
  padding: 0;
  float: left;
}

#sitefull {
  width: 100%;
  float: none;
}

#sitefull p {
  margin-bottom: 15px;
}

.page_content {
  font-size: 14px;
  padding: 25px 0;
}

.page_content p {
  margin-bottom: 20px;
  line-height: 20px;
}

.blog_lists {
  margin-bottom: 30px;
}

.blog_lists h2 {
  margin-bottom: 10px;
}

.blog_lists h2 a {
  color: #484f5e;
}

.blog_lists h2 a:hover {
  color: #34c6f6;
}

.blog_lists p {
  margin-bottom: 10px;
}

.blog_lists .c3d {
  font-size: 60px;
  color: #e75300;
}

.blog-meta {
  font-style: italic;
  margin-bottom: 8px;
}

.post-author, .post-date, .post-comment, .post-categories {
  display: inline;
  color: #000000;
}

.single_title {
  margin-bottom: 5px;
}

.BlogPosts {
  width: 31.2%;
  float: left;
  margin: 0 3% 3% 0;
  text-align: center;
}

.BlogPosts .MoreLink {
  display: table;
  text-align: center;
  margin: 15px auto 0;
}

.BlogPosts img {
  width: 100%;
}

.BlogPosts h2 {
  margin: 10px 0;
}

.MoreLink {
  color: #5d5c5c;
  display: inline-block;
  border: 1px solid #5d5c5c;
  padding: 5px 10px;
}

.MoreLink:hover {
  color: #e75300;
  border-color: #e75300;
}

/* = sidebar
-------------------------------------------------------------- */

#sidebar {
  width: 360px;
  float: right;
}

aside.widget {
  margin-bottom: 30px;
  background-color: #f9f9f9;
  padding: 20px;
}

aside.widget ul {
  list-style: disc;
}

h3.widget-title {
  background-color: #909090;
  padding: 12px 15px;
  margin-bottom: 1px;
  color: #fff;
}

#sidebar ul li {
  list-style: none;
}

#sidebar ul li a {
  font: 300 14px/18px "Roboto", sans-serif;
  background: url(images/sidebar-arrow.png) no-repeat 0 14px;
  padding: 10px 0 10px 20px;
  color: #3b3b3b;
  border-bottom: 1px dashed #d0cfcf;
  display: block;
}

#sidebar ul li a:hover {
  color: #34c6f6;
}

#sidebar ul li:last-child a {
  border: none;
}

/* = Footer css
-------------------------------------------------------------- */

#footer-wrapper {
  background-color: #363839;
  position: relative;
  padding: 45px 0 0;
  color: #fff;
  line-height: 20px;
  font-size: 13px;
}

.cols-4 {
  width: 22%;
  float: left;
  margin: 0 6% 2% 0;
}

.widget-column-1 {
  width: 29%;
}

.widget-column-2 {
  width: 32%;
}

.widget-column-3 {
  width: 20%;
}

.widget-column-4 {
  margin-right: 0px !important;
}

.cols-4 h5 {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
}

.cols-4 ul {
  margin: 0;
  padding: 0;
  list-style: inside disc;
}

.cols-4 ul li {
  display: block;
  padding: 0;
}

.cols-4 ul li a {
  color: #fff;
  font: normal 12px/24px Arial, Helvetica, sans-serif;
  background: url(images/list-arrow.png) no-repeat 0 2px;
  padding: 0 0 0 20px;
}

.cols-4 ul li a:hover, .cols-4 ul li.current_page_item a {
  background-position: left -13px;
  color: #dd5145;
  transition: all 0.5s ease 0s;
}

.cols-4 a.readmore span {
  color: #fff;
}

.cols-4 p {
  margin-bottom: 15px;
}

.cols-4 h1, .cols-4 h2, .cols-4 h3, .cols-4 h4, .cols-4 h5, .cols-4 h6 {
  color: #fff;
}

.phone-no {
  margin: 10px 0 20px;
  line-height: 22px;
}

.phone-no a {
  color: #d6d6d6;
}

.phone-no a:hover {
  color: #d6d6d6;
}

.phone-no strong {
  display: inline-block;
}

.cols-4 .phone-no p {
  margin-bottom: 0;
}

.copyright-wrapper {
  background-color: #282a2b;
  position: relative;
  padding: 15px 0;
  line-height: 40px;
}

.copyright-txt {
  float: left;
}

.design-by {
  float: right;
}

.design-by i {
  vertical-align: middle;
  color: #007df8;
}

.design-by a {
  vertical-align: middle;
  color: #007df8;
}

.recent-post {
  min-height: 70px;
  margin: 0 0 20px 0;
  border-bottom: 1px dotted #5e6162;
  padding-bottom: 10px;
}

.recent-post img {
  float: left;
  width: 60px;
  margin: 3px 10px 5px 0;
}

.recent-post h6 {
  font-size: 15px;
  color: #fff;
  margin: 0 0 5px;
  font-weight: 600;
}

.recent-post h6:hover {
  color: #34c6f6;
}

.recent-post:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Buttons */

.button, .btnfeatures {
  background-color: #ff6565;
  border-bottom: 4px solid #e44545;
  color: #fff;
  padding: 8px 20px;
  display: inline-block;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
}

.button:hover {
  background-color: #34c6f6;
  border-color: #1898c2;
  color: #fff;
}

.btnfeatures {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 8px 20px;
  margin-right: 20px;
}

.btnfeatures:hover {
  border-color: #ff6565;
}

/* woocommerce CSS
================================================*/

a.added_to_cart {
  background: #e1472f;
  padding: 5px;
  display: inline-block;
  color: #fff;
  line-height: 1;
}

a.added_to_cart:hover {
  background: #000000;
}

a.button.added:before {
  content: '' !important;
}

#bbpress-forums ul li {
  padding: 0;
}

#subscription-toggle a.subscription-toggle {
  padding: 5px 10px;
  display: inline-block;
  color: #e1472f;
  margin-top: 4px;
}

textarea.wp-editor-area {
  border: 1px #ccc solid;
}

.woocommerce input[type=text], .woocommerce textarea {
  border: 1px #ccc solid;
  padding: 4px;
}

form.woocommerce-ordering select {
  padding: 5px;
  color: #777777;
}

.woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
  font-family: 'Roboto', san-serif;
  color: #ff8a00;
}

.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
  color: inherit !important;
}

h1.product_title, p.price {
  margin-bottom: 10px;
}

.woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
  font-family: 'Roboto', san-serif;
  color: #ff6d84;
}

.woocommerce ul.products li, #payment ul.payment_methods li {
  list-style: none !important;
}

.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
  color: inherit !important;
}

.woocommerce table.shop_table th, .woocommerce table.shop_table td {
  border-bottom: 0px !important
}

/* Text meant only for screen readers. */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* ============= Contact Page =========== */

.wpcf7 {
  margin: 30px 0 0;
  padding: 0;
}

.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"] {
  width: 40%;
  border: 1px solid #cccccc;
  box-shadow: inset 1px 1px 2px #ccc;
  height: 35px;
  padding: 0 15px;
  color: #797979;
  margin-bottom: 0;
}

.wpcf7 textarea {
  width: 60%;
  border: 1px solid #cccccc;
  box-shadow: inset 1px 1px 2px #ccc;
  height: 150px;
  color: #797979;
  margin-bottom: 25px;
  font: 12px arial;
  padding: 10px;
  padding-right: 0;
}

.wpcf7 input[type="submit"] {
  background-color: #0ec7ab;
  width: auto;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font: 18px 'Roboto', san-serif;
  color: #ffffff;
  padding: 10px 40px;
  border-radius: 3px;
}

/* ============= Comment Form ============ */

h1.screen-reader-text {
  font: 22px 'Roboto', san-serif;
}

.site-nav-previous, .nav-previous {
  float: left;
}

.site-nav-next, .nav-next {
  float: right;
}

h3#reply-title {
  font: 300 18px 'Roboto', san-serif;
}

#comments {
  margin: 30px 0 0;
  padding: 0;
}

nav#nav-below {
  margin-top: 15px;
}

.page-numbers {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2px 0 0;
  border: 1px solid #eee;
  line-height: 1;
  text-decoration: none;
  border-radius: 2px;
  font-weight: 600;
}

.page-numbers.current, a.page-numbers:hover {
  background: #f9f9f9;
}

/* Widget-icon-box */

.widget-icon-box {
  padding: 6px 0;
  border-bottom: 0px solid rgba(250, 250, 250, 0.12);
  width: 100%;
  text-align: center;
}

.widget-icon-box .widget-icon-box {
  font-family: Arial;
  text-align: left;
  color: #dddddd;
}

.widget-icon-box .widget-icon-box:hover {
  text-decoration: none;
}

/* .widget-icon-box .widget-icon-box:hover .fa { transition: all 200ms ease-out; color: #e75300; } */

.widget-icon-box:first-of-type {
  border-top: 0px solid rgba(250, 250, 250, 0.12);
}

.widget-icon-box div.widget-icon-box {
  cursor: default;
  vertical-align: top;
}

.widget-icon-box {
  width: 260px;
  display: inline-block;
  padding-right: 5px;
  margin-left: 5px;
  text-align: left;
}

.widget-icon-box>.fa {
  float: left;
  font-size: 30px;
  margin-right: 10px;
}

.widget-icon-box>.dashicons {
  float: left;
  font-size: 35px;
  margin-right: 25px;
}

.widget-icon-box__title {
  vertical-align: top;
  margin: 0 0 0 0;
  font-size: 14px;
  font-weight: bold;
  color: #dddddd;
}

.widget-icon-box__subtitle {
  vertical-align: top;
  font-size: 13px;
  color: #dddddd;
}

.widget-icon-box__subtitle a {
  color: #dddddd;
}

.widget-icon-box__subtitle a:hover {
  color: #ffffff !important;
}





/* Announcement-box */

.announcement-box {
  padding: 6px 0;
  border-bottom: 0px solid rgba(250, 250, 250, 0.12);
  width: 100%;
  text-align: center;
}

.announcement-box .announcementn-box {
  font-family: Arial;
  text-align: left;
  color: #dddddd;
}

.announcement-box .announcement-box:hover {
  text-decoration: none;
}

/* .announcement-box .announcement-box:hover .fa { transition: all 200ms ease-out; color: #e75300; } */

.announcement-box:first-of-type {
  border-top: 0px solid rgba(250, 250, 250, 0.12);
}

.announcement-box div.announcement-box {
  cursor: default;
  vertical-align: top;
}

.announcement-box {
  width: 260px;
  display: inline-block;
  padding-right: 5px;
  margin-left: 5px;
  text-align: left;
}

.announcement-box>.fa {
  float: left;
  font-size: 30px;
  margin-right: 10px;
}

.announcement-box>.dashicons {
  float: left;
  font-size: 35px;
  margin-right: 25px;
}

.announcement-box__title {
  vertical-align: top;
  margin: 0 0 0 0;
  font-size: 14px;
  font-weight: bold;
  color: #dddddd;
}

.announcement-box__subtitle {
  vertical-align: top;
  font-size: 13px;
  color: #dddddd;
}

.announcement-box__subtitle a {
  color: #dddddd;
}

.announcement-box__subtitle a:hover {
  color: #ffffff !important;
}







#slider-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e75300;
  opacity: 0.4;
  z-index: 6;
  position: absolute;
}

/* Contact Form 7 Styles */

.wpcf7 input[type="submit"] {
  background-color: #00326e;
  width: auto;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font: 18px 'Roboto', san-serif;
  color: #ffffff;
  padding: 10px 40px;
  border-radius: 3px;
}

/* Responsive iFrame */

.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.responsive-iframe-container iframe, .responsive-iframe-container object, .responsive-iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-caption {
  color: #D70807;
}

.bypostauthor {
  font-weight: 600;
}

.dashicons-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.dashicons-2x {
  font-size: 2em;
}

.dashicons-3x {
  font-size: 3em;
}

.dashicons-3x {
  font-size: 3em;
}

.dashicons-4x {
  font-size: 4em;
}

.dashicons-5x {
  font-size: 5em;
}
