/*!
 *  Cloud3Dots 1.0 by @Jesus Federico - https://cloud3dots.com
 *  License - http://creativecommons.org/licenses/by-nc-sa/4.0/ or https://www.gnu.org/licenses/gpl-3.0.en.html (Font: GPL or CC BY NC SA 4.0 CSS: GPL)
 */

/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'cloud3dots';
  src: url('fonts/cloud3dots.eot?vivvc7');
  src: url('fonts/cloud3dots.eot?vivvc7#iefix') format('embedded-opentype'), url('fonts/cloud3dots.ttf?vivvc7') format('truetype'), url('fonts/cloud3dots.woff?vivvc7') format('woff'), url('fonts/cloud3dots.svg?vivvc7#cloud3dots') format('svg');
  font-weight: normal;
  font-style: normal;
}

.c3d {
  display: inline-block;
  font-family: 'cloud3dots' !important;
  font: normal normal normal 14px/1 cloud3dots;
  font-size: inherit;
  color: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.c3d-xs {
  font-size: .75em;
}

.c3d-sm {
  font-size: .875em;
}

.c3d-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.c3d-2x {
  font-size: 2em;
}

.c3d-3x {
  font-size: 3em;
}

.c3d-4x {
  font-size: 4em;
}

.c3d-5x {
  font-size: 5em;
}

.c3d-6x {
  font-size: 6em;
}

.c3d-7x {
  font-size: 7em;
}

.c3d-8x {
  font-size: 8em;
}

.c3d-9x {
  font-size: 9em;
}

.c3d-10x {
  font-size: 10em;
}

.c3d-cloud3dots:before {
  content: "\e900";
}

.c3d-blue-lodge:before {
  content: "\e901";
}