/* Mobile Portrait View */

@media screen and (max-width:768px) {
  * {
    box-sizing: border-box;
  }
  .left, .right, .copyright-txt, .design-by {
    float: none;
  }
  .container {
    width: auto;
    padding: 0 20px;
  }
  .wrap_one, .signin_wrap {
    width: auto;
    text-align: center;
  }
  .header {
    width: 100%;
    padding: 0;
  }
  .header .header-inner {
    width: 100%;
    padding: 15px 0 0;
  }
  .header .header-inner .logo {
    float: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .header .header-inner .logo img {
    max-width: 90%;
    height: 50px;
  }
  /*coloumn css*/
  .services-wrap .one_fourth {
    float: none;
    width: 100%;
    margin: 0 0 5%;
  }
  /*sidebar css*/
  #sidebar {
    width: 100%;
    float: none;
  }
  /* --------- Pages ------- */
  .content-area {
    width: auto;
    margin: 0;
    padding: 50px 20px;
  }
  .site-main {
    width: auto;
    margin: 0;
    padding: 0;
    float: none;
  }
  /*slider css*/
  #slider {
    top: 0;
    margin: 0;
  }
  .nivo-directionNav a {
    top: 39% !important;
  }
  .nivo-caption {
    display: none !important;
  }
  /*footer css */
  .copyright-wrapper {
    text-align: center;
  }
  .cols-4 {
    width: 100% !important;
    display: block;
    margin-right: 0;
    margin-bottom: 15%;
  }
  /*custom css*/
  h2.section_title {
    text-align: center;
  }
  .signin_wrap {
    text-align: center;
    line-height: 25px;
    padding: 10px 0;
  }
  .signin_wrap .fa {
    display: inline;
  }
  .services-wrap {
    text-align: center;
  }
  .signin_wrap .right, .signin_wrap .left {
    text-align: center;
  }
  .signin_wrap .social-icons {
    width: auto;
  }
  .signin_wrap .left span {
    float: none;
  }
  /*front blog post*/
  .BlogPosts {
    float: none;
    width: auto;
    margin: 0 0 10% 0;
  }
}

/* Mobile Landscape View */

@media screen and (min-width: 480px) and (max-width: 768px) {
  .slider_info {
    padding: 0;
  }
  .slider_info h2 {
    font-size: 20px !important;
    padding: 0 !important;
    margin-bottom: 10px !important;
    line-height: 30px;
    text-shadow: 1px 0 0 #333;
  }
  .slider_info p {
    padding: 5px 0 !important;
    font-size: 13px !important;
    display: none;
  }
}

/* Tablet View */

@media screen and (max-width:1169px) and (min-width:768px) {
  * {
    box-sizing: border-box;
  }
  .signin_wrap .social-icons a {
    box-sizing: content-box;
    padding: 0 4px;
  }
  .container {
    width: auto;
    padding: 0 20px;
  }
  .signin_wrap {
    width: auto;
  }
  .header .header-inner {
    width: auto;
    padding: 15px 0 0;
  }
  .header .header-inner .logo {
    margin: 0;
    padding: 0;
    float: none;
    text-align: center;
  }
  /*slider css*/
  .slider_info h2 {
    font-size: 24px !important;
    padding: 0 !important;
    margin-bottom: 10px !important;
    line-height: 30px;
    text-shadow: 1px 0 0 #333;
  }
  .slider_info p {
    padding: 5px 0 !important;
    font-size: 13px !important;
    text-shadow: 1px 0 0 #333;
  }
  .content-area {
    width: auto;
    margin: 0;
    padding: 50px 20px;
  }
  #sidebar {
    width: 30%;
  }
  .site-main {
    width: 65%;
  }
  .right span.phno {
    padding-right: 0;
  }
  .signin_wrap .social-icons a {
    padding: 0 2px;
  }
  /*custom  css*/
  .services-wrap .one_fourth {
    width: 22.5%;
    margin-right: 2%;
  }
  .services-wrap .one_fourth .fa {
    float: none;
  }
  .services-wrap .one_fourth h3 {
    font-size: 14px;
  }
  .recent-post h6 {
    padding-top: 7px;
  }
  .blog_lists img {
    width: 100%;
  }
  .services-wrap .one_fourth {
    display: inline-block;
  }
}

@media screen and (max-width:1169px) and (min-width:980px) {
  html {
    overflow-x: hidden;
  }
  .header .header-inner .logo {
    float: left;
    text-align: left;
    margin: 20px 0 0 10px;
  }
  .header .header-inner {
    padding: 0 20px;
  }
}

@media screen and (max-width: 980px) {
  .toggleMenu {
    display: block;
  }
  .header .header-inner .nav {
    float: none;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    background-color: #fff;
  }
  .header .header-inner .nav ul {
    color: #000;
    width: 100% !important;
    float: none !important;
    margin: 0;
    padding: 0;
  }
  .header .header-inner .nav ul li {
    border-top: 1px #cccccc solid;
    display: block;
    float: none;
    text-align: left;
  }
  .header .header-inner .nav ul li a {
    padding: 5px 10px !important;
    display: block;
    color: #000;
  }
  .header .header-inner .nav ul li a:hover {
    color: #ffffff;
  }
  .header .header-inner .nav ul.sub-menu {
    /*margin-left:10px;*/
  }
  .header .header-inner .nav ul li ul, .header .header-inner .nav ul li ul ul {
    display: block !important;
  }
  .header .header-inner .nav ul li ul li a:before {
    content: "\00BB \00a0";
  }
  .header .header-inner .nav ul li ul li a {
    padding-left: 20px !important;
  }
  .header .header-inner .nav ul li ul li ul li a {
    padding-left: 30px !important;
  }
  .header .header-inner .nav ul li ul li ul li ul li a {
    padding-left: 40px !important;
  }
  .header .header-inner .nav ul li:hover>ul {
    background: none !important;
  }
  .header .header-inner .nav ul li:hover>ul {
    background: transparent !important;
    width: auto !important;
    display: block;
    position: relative !important;
    left: 0;
    right: 0;
    top: 0;
  }
  .header .header-inner .nav ul li:hover ul li ul, .header .header-inner .nav ul li:hover ul li:hover>ul, .header .header-inner .nav ul li:hover ul li:hover>ul li ul {
    background: transparent !important;
    display: block;
    position: relative !important;
    right: 0;
    left: 0;
    top: 0;
  }
  .header .header-inner .nav ul li:hover ul li:hover ul, .header .header-inner .nav ul li:hover ul li:hover ul li:hover ul {
    left: 0 !important;
  }
  .header .header-inner .nav ul li a .fa, .fixed .header-inner .nav ul li a .fa {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .widget-icon-box {
    float: center;
    width: 230px;
    border-top: 0px;
  }
  .widget-icon-box:first-of-type {
    border-top: 0px;
  }
}

/* bootstrap modifiers */

@media screen and (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}